<!--footer area-->
<footer class="footer_nine_area bg_color_lg">
    <div class="footer_nine_top">
        <div class="footer_shap left"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f-title f_600 f_size_18 color-grey pr_20">
                        <a href="index.html" class="f-logo"><img src="/assets/img/logo-adisyo-footer.svg"
                                alt="adisyo-logo"></a>
                        <p class="f_400 f_p f_size_14 mb-0 l_height28 mt_10">

                        </p>
                        <div class="f_social_icon_two mt_80 pb_30">
                            <h3 class="f-title f_600 f_size_18 color-white mb_10">Bizi Takip Edin</h3>
                            {% for social in site.data.social_media %}
                            {% if social.type == "twitter" %}
                            <a href="https://twitter.com/adisyocom" target="_blank" class="f_size_24"><i
                                    class="ti-twitter-alt"></i></a>
                            {% elsif social.type == "facebook" %}
                            <a href="https://www.facebook.com/adisyocom/" target="_blank" class="f_size_24"><i
                                    class="ti-facebook"></i></a>
                            {% elsif social.type == "instagram" %}
                            <a href="https://www.instagram.com/adisyocom/" target="_blank" class="f_size_24"><i
                                    class="ti-instagram"></i></a>
                            {% elsif social.type == "youtube" %}
                            <a href="https://www.youtube.com/channel/UCKdnA5lA-tBGbBjBPWoy-Lw/videos" target="_blank"
                                class="f_size_24"><i class="ti-youtube"></i></a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Şirketimiz</h3>
                        <ul class="list-unstyled f_list">
                            {% assign footer_menu = site.data.menu | where: "isHeader", false  %}
                            {% for menu in footer_menu %}
                            <li><a href="{{menu.url}}">{{menu.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Hemen İndirin</h3>
                        <ul class="list-unstyled f_list">
                            <li>
                                <a href="{{site.store_google}}" target="_blank"><img
                                        src="/assets/img/google-play-badge.svg" class="mobile-store-icons"></a>
                            </li>
                            <li>
                                <a href="{{site.store_ios}}" target="_blank"><img src="/assets/img/app-store-badge.svg"
                                        class="mobile-store-icons"></a>
                            </li>
                            <!-- 
                            <li>
                                <a href="{{site.store_windows}}" target="_blank"><img
                                        src="/assets/img/windows-badge.svg" class="mobile-store-icons"></a>
                            </li> -->
                        </ul>
                    </div>
                </div>



                <div class="col-lg-5 col-md-6 pl_footer-menu pl_footer-menu">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Size nasıl yardımcı olabiliriz?</h3>
                        <ul class="list-unstyled f_list">
                            <li><i class="ti-direction-alt m-r-10 "></i> {{site.address}}</li>
                            <li><i class="ti-calendar m-r-10 "></i> {{site.working_hours}}</li>
                            <li><i class="ti ti-headphone-alt m-r-10 color-red"></i> <a class="color-red"
                                    href="tel:{{site.phone}}"> {{site.phone}}</a></li>
                            <li><i class="ti-email mr_10"></i><a href="mailto:{{site.email}}"> {{site.email}}</a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_nine_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 hidden-xs">
                    <p class="pt_7">{{site.copyright}}</p>
                </div>
                <!-- <div class="col-sm-6">
                    <select class="selectpicker flag_selector" data-width="fit">
                        <i class="ti-world"></i>
                        <option data-content='<span class="flag-icon flag-icon-tr"></span> Türkçe'>Türkçe</option>
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>
</footer>


<!-- <div id="ed_Anasayfa_Bar_main_bar" class="isbank-popup-main">
    <div id="ed_Anasayfa_Bar_close" class="isbank-popup-main-close">Kapat</div>
    <div id="ed_Anasayfa_Bar_bar_text" class="isbank-popup-main-text"></div>
    <div class="isbank-popup-main-text2">
        <p>Türkiye İş Bankası POS ve Ticari Kredi Kartı sahiplerine özel <b>+3 Ay Adisyo üyeliği ÜCRETSİZ</b></p>

    </div>
    <div>

    </div>
    <a id="ed_Anasayfa_Bar_bar_link" class="isbank-popup-main-link"
        href="https://www.isbank.com.tr/Internet/index.aspx?CampTxCode=HIZNKBASVURU_K_LOADING&amp;src=anasayfa">
        Hemen Başvur
    </a>

    <a href="#" class="modal-toggle slider_btn_tr wow fadeInLeft mr_10" data-openpopup="signuplogin" data-popup="call"
        data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">Sizi
        Arayalım</a>

    <a href="http://pos.adisyo.com/#/login/?t=1" target="_blank" class="slider_btn white_btn wow fadeInLeft"
        data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">Kapat</a>
</div> -->

<!-- ISBANK-KAMPANYA -->
<div id="isBankKampanya" class="isbank-popup-main">
    <div id="ed_Anasayfa_Bar_bar_text" class="isbank-popup-main-text">
        <img class="is-bank-logo" src="/assets/img/isbank-logo.png" alt="isbank-logo">
        <span style="color: white;font-size: 16px;text-align: left;line-height: 45px;letter-spacing: 0.5px;">
            İş Bankası Ticari Kredi Kartı veya POS sahiplerine özel, <b>Adisyo +3 ay süresince ÜCRETSİZ!</b></span>
            <a id="isBankButon2" class="isbank-link-btn modal-toggle" data-openpopup="signuplogin" data-popup="isbank" href="#">Hemen Başvur</a>
            <a id="isBankButon" class="isbank-link-btn-close" onclick="closeIsbank()" >Kapat</a>

     

        </span>
</div>
<!-- ISBANK-KAMPANYA END-->