<!--footer area-->
<footer class="footer_nine_area bg_color_lg">
    <div class="footer_nine_top">
        <div class="footer_shap left"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f-title f_600 f_size_18 color-grey pr_20">
                        <a href="index.html" class="f-logo"><img src="/assets/img/logo-adisyo-footer.svg" alt="adisyo-logo"></a>
                        <p class="f_400 f_p f_size_14 mb-0 l_height28 mt_10">

                        </p>
                        <div class="f_social_icon_two mt_80 pb_30">
                            <h3 class="f-title f_600 f_size_18 color-white mb_10">Bizi Takip Edin</h3>
                            {% for social in site.data.social_media %} {% if social.type == "twitter" %}
                            <a href="https://twitter.com/adisyocom" target="_blank" class="f_size_24"><i
                                    class="ti-twitter-alt"></i></a> {% elsif social.type == "facebook" %}
                            <a href="https://www.facebook.com/adisyocom/" target="_blank" class="f_size_24"><i
                                    class="ti-facebook"></i></a> {% elsif social.type == "instagram" %}
                            <a href="https://www.instagram.com/adisyocom/" target="_blank" class="f_size_24"><i
                                    class="ti-instagram"></i></a> {% elsif social.type == "youtube" %}
                            <a href="https://www.youtube.com/channel/UCKdnA5lA-tBGbBjBPWoy-Lw/videos" target="_blank" class="f_size_24"><i class="ti-youtube"></i></a> {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Şirketimiz</h3>
                        <ul class="list-unstyled f_list">
                            {% assign footer_menu = site.data.menu | where: "isFooter", true %} {% for menu in footer_menu %}
                            <li><a href="{{menu.url}}">{{menu.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Hemen İndirin</h3>
                        <ul class="list-unstyled f_list">
                            <li>
                                <a href="{{site.store_google}}" target="_blank"><img src="/assets/img/google-play-badge.svg" class="mobile-store-icons"></a>
                            </li>
                            <li>
                                <a href="{{site.store_ios}}" target="_blank"><img src="/assets/img/app-store-badge.svg" class="mobile-store-icons"></a>
                            </li>
                            <!-- 
                            <li>
                                <a href="{{site.store_windows}}" target="_blank"><img
                                        src="/assets/img/windows-badge.svg" class="mobile-store-icons"></a>
                            </li> -->
                        </ul>
                    </div>
                </div>



                <div class="col-lg-5 col-md-6 pl_footer-menu pl_footer-menu">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 color-white mb_20">Size nasıl yardımcı olabiliriz?</h3>
                        <ul class="list-unstyled f_list">
                            <li><i class="ti-direction-alt m-r-10 "></i> {{site.address}}</li>
                            <li><i class="ti-calendar m-r-10 "></i> {{site.working_hours}}</li>
                            <li><i class="ti ti-headphone-alt m-r-10 color-red"></i> <a class="color-red" href="tel:{{site.phone}}"> {{site.phone}}</a></li>
                            <li><i class="ti-email mr_10"></i><a href="mailto:{{site.email}}"> {{site.email}}</a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_nine_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <p class="copyright_text">{{site.copyright}}</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="yerli_uretim">
                        <svg data-name="madeinturkey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 40">
                            <defs>
                              <style>.fill-white{fill:rgba(255, 255, 255, 0.6);}</style>
                            </defs>
                            <path class="fill-white" d="M42.82,14.76v3.46a.49.49,0,0,0,.55.56h2.21a.49.49,0,0,0,.55-.56V14.76l3.34-6.2a.49.49,0,0,0,0-.47.41.41,0,0,0-.39-.22H46.79a.75.75,0,0,0-.72.5L45,10.83l-.48,1.34h-.07L44,10.83,42.88,8.37a.75.75,0,0,0-.72-.5H39.85a.41.41,0,0,0-.39.22.47.47,0,0,0,0,.47Z"></path>
                            <path class="fill-white" d="M51.08,18.78h6.43a.49.49,0,0,0,.55-.56V16.56a.49.49,0,0,0-.55-.56H53.78V14.57h3.41a.47.47,0,0,0,.53-.54V12.48c0-.37-.17-.56-.53-.56H53.78V10.64h3.64a.48.48,0,0,0,.55-.55V8.42a.48.48,0,0,0-.55-.55H51.08a.49.49,0,0,0-.55.55v9.8A.49.49,0,0,0,51.08,18.78Z"></path>
                            <path class="fill-white" d="M59.9,18.78h2.18a.49.49,0,0,0,.55-.56V15.54h.78L65,18.33a.81.81,0,0,0,.75.45h2.22a.37.37,0,0,0,.38-.21.54.54,0,0,0-.08-.49l-1.82-3a3.29,3.29,0,0,0,2-3.25,3.59,3.59,0,0,0-1.16-3,5.52,5.52,0,0,0-3.44-.9H59.9a.48.48,0,0,0-.54.55v9.8A.49.49,0,0,0,59.9,18.78Zm2.73-8.14h1.09a1.68,1.68,0,0,1,1,.24,1.07,1.07,0,0,1,.31.9,1.11,1.11,0,0,1-.31.86,1.51,1.51,0,0,1-1,.28H62.63Z"></path>
                            <path class="fill-white" d="M70.18,18.78h6.1a.49.49,0,0,0,.54-.56V16.37a.48.48,0,0,0-.54-.55H72.94V8.42a.48.48,0,0,0-.55-.55H70.18a.48.48,0,0,0-.55.55v9.8A.49.49,0,0,0,70.18,18.78Z"></path>
                            <path class="fill-white" d="M78.86,7.13H80.8a.46.46,0,0,0,.52-.52V5.54A.46.46,0,0,0,80.8,5H78.86a.45.45,0,0,0-.51.52V6.61A.46.46,0,0,0,78.86,7.13Z"></path>
                            <path class="fill-white" d="M78.73,18.78h2.21a.49.49,0,0,0,.55-.56V8.42a.49.49,0,0,0-.55-.55H78.73a.48.48,0,0,0-.55.55v9.8A.49.49,0,0,0,78.73,18.78Z"></path>
                            <path class="fill-white" d="M47.84,23.52H45.63a.49.49,0,0,0-.55.55V30a2.15,2.15,0,0,1-.27,1.23,1.26,1.26,0,0,1-1.82,0A2.19,2.19,0,0,1,42.72,30V24.07a.48.48,0,0,0-.55-.55H40a.48.48,0,0,0-.55.55v6.26q0,4.28,4.49,4.27t4.49-4.27V24.07A.48.48,0,0,0,47.84,23.52Z"></path>
                            <path class="fill-white" d="M43,22.75a.47.47,0,0,0,.52-.52v-.82a.47.47,0,0,0-.52-.53H41.41a.46.46,0,0,0-.51.53v.82a.46.46,0,0,0,.51.52Z"></path>
                            <path class="fill-white" d="M46.39,22.75a.46.46,0,0,0,.51-.52v-.82a.46.46,0,0,0-.51-.53H44.84a.47.47,0,0,0-.52.53v.82a.47.47,0,0,0,.52.52Z"></path>
                            <path class="fill-white" d="M50.46,34.43h2.18a.49.49,0,0,0,.55-.56V31.19H54L55.53,34a.81.81,0,0,0,.75.45H58.5a.37.37,0,0,0,.38-.21.54.54,0,0,0-.08-.49l-1.82-3a3.28,3.28,0,0,0,2-3.25,3.6,3.6,0,0,0-1.16-3,5.52,5.52,0,0,0-3.44-.9H50.46a.48.48,0,0,0-.54.55v9.8A.49.49,0,0,0,50.46,34.43Zm2.73-8.14h1.09a1.68,1.68,0,0,1,1,.24,1.07,1.07,0,0,1,.31.9,1.11,1.11,0,0,1-.31.86,1.51,1.51,0,0,1-1,.28H53.19Z"></path>
                            <path class="fill-white" d="M67.17,31.65H63.44V30.22h3.41a.47.47,0,0,0,.53-.54V28.13c0-.37-.18-.56-.53-.56H63.44V26.29h3.64a.48.48,0,0,0,.54-.55V24.07a.48.48,0,0,0-.54-.55H60.74a.48.48,0,0,0-.55.55v9.8a.49.49,0,0,0,.55.56h6.43a.49.49,0,0,0,.54-.56V32.21A.49.49,0,0,0,67.17,31.65Z"></path>
                            <path class="fill-white" d="M69.1,26.48H71v7.39a.49.49,0,0,0,.55.56h2.22a.49.49,0,0,0,.54-.56V26.48h1.94a.49.49,0,0,0,.55-.56V24.07a.48.48,0,0,0-.55-.55H69.1a.48.48,0,0,0-.54.55v1.85A.49.49,0,0,0,69.1,26.48Z"></path>
                            <path class="fill-white" d="M78.7,20.67a.47.47,0,0,0-.52.52v1.06a.47.47,0,0,0,.52.53h1.94a.47.47,0,0,0,.52-.53V21.19a.47.47,0,0,0-.52-.52Z"></path>
                            <path class="fill-white" d="M78.56,23.52a.48.48,0,0,0-.54.55v9.8a.49.49,0,0,0,.54.56h2.22a.49.49,0,0,0,.54-.56v-9.8a.48.48,0,0,0-.54-.55Z"></path>
                            <path class="fill-white" d="M83.5,34.43h2.09a.49.49,0,0,0,.55-.56v-5l1.94,3.31a.44.44,0,0,0,.4.23.43.43,0,0,0,.39-.23l1.94-3.31v5a.49.49,0,0,0,.55.56h2.09a.49.49,0,0,0,.55-.56v-9.8a.48.48,0,0,0-.55-.55h-2a.66.66,0,0,0-.63.31l-2.33,4.08-2.34-4.08a.65.65,0,0,0-.62-.31h-2a.48.48,0,0,0-.54.55v9.8A.49.49,0,0,0,83.5,34.43Z"></path>
                            <path class="fill-white" d="M19.54,0l-9,7.64v5.21h6.68l4.88-4.14h2.33l9.11,11.07-.23,1.86-1.84-.1-6.93-8.41-2.07,1.76,6.93,8.41-.23,1.86-1.84-.1-6.93-8.41-2.07,1.76,6.93,8.41L25,28.68l-1.82-.11-2.54-1.42-.8-2.85-2.67-1.36-.8-2.86-2.66-1.34-1.09-3.21H7.27L4.43,18,0,12.85V40H100V0ZM4.88,22.89l-.4-1.44L8.59,18H10.7l.38,1.47L6.21,23.55ZM8.29,27l-.41-1.45,4.88-4.14,1.34.65.39,1.46L9.62,27.69Zm3.41,4.14-.41-1.45,4.87-4.13,1.35.64.39,1.46L13,31.83ZM16.43,36l-1.32-.67-.41-1.44,4.87-4.14,1.35.65.38,1.46ZM97.3,37.25H36.11V18.64L25.66,6H21.17l-4.86,4.14h-3l0-1.05,7.41-6.29H97.3Z"></path>
                          </svg>
                    </div>
                </div>
                <!-- <div class="col-sm-6">
                    <select class="selectpicker flag_selector" data-width="fit">
                        <i class="ti-world"></i>
                        <option data-content='<span class="flag-icon flag-icon-tr"></span> Türkçe'>Türkçe</option>
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>
</footer>