<header class="header_area header_area_three header_area_five">
    <nav class="navbar navbar-expand-lg menu_one">
        <div class="container custom_container p0">
            <a class="navbar-brand" href="/"><img src="/assets/img/logo-adisyo.svg" alt="adisyo-logo"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="menu_toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu pl_80">
                    {% assign header_menu = site.data.menu | where: "isHeader", true %}
                    {% for menu in header_menu %}
                    <li
                        class="nav-item {% if menu.submenu == true %} dropdown submenu {% endif %} {% if page.url contains menu.url %} active {% endif %}">
                        <a class="nav-link {% if menu.submenu == true %} dropdown-toggle {% endif %}"
                            href="{{menu.url}}" role="button">{{menu.title | upcase }}</a>
                        {% if menu.submenu == true %}
                        <ul class="dropdown-menu">
                            {% for sub_items in menu.subitems %}
                            <li class="nav-item">
                                <a href="{{sub_items.url}}" class="nav-link">
                                    <div class="icon-menu"><i class="{{sub_items.icon}}"></i></div>
                                    {{sub_items.title}}
                                </a>
                            </li>
                            {% endfor %}
                            <li class="nav-item"><a class="btn_properties" href="/ozellikler">Tüm Özellikler</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <div class="top-buttons">
                    <a class="btn_get btn_user btn_tel" href="tel:{{site.phone}}"><i
                            class="ti ti-headphone-alt top-ico-fix"></i> {{site.phone}}</a>
                    <a href="http://pos.adisyo.com/" target="_blank"
                        class="btn_get user btn_user"><i class="lnr lnr-user" aria-hidden="true"></i> Giriş Yap</a>
                    <!-- <a id="goToApp" href="#" class="modal-toggle btn_get user btn_user"><i class="lnr lnr-select"
                            aria-hidden="true"></i> Uygulamaya Git</a> -->
                    <a href="http://pos.adisyo.com/#/login/?t=1" target="_blank" class="btn_get btn_try">
                        Ücretsiz Dene</a>
                </div>
            </div>
        </div>
    </nav>
</header>