    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <meta name="author" content="adisyo">
    <meta name="keywords" content="adisyo, adisyon, adisyon programı, adisyon sipariş sistemi,adisyo sipariş, restaurant pos sistemi, bulut tabanlı adisyon pos sistemi, cafe pos sistemi,  bulut pos, kolay pos, online pos sistemi,online adisyon sistemi, hızlı pos sistemi, garson pos sistemi,Cafe Restoran Otomasyonu">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

     <meta name="google-site-verification" content="ICmuIXXHR1aHV3wFpMOvzEn75bmACEPPlmv3E6vi3Xg" />
