<!--call area banner-->
<section class="saas_subscribe_area">
    <div class="container">
        <div class="row saas_action_content wow fadeInUp" data-wow-delay="0.5"style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="col-lg-7">
                <h4 class="f_p f_size_22 l_height50 f_600 t_color mb-0">Yeni nesil POS yazılımı</h4>
                <h4 class="f_p f_size_16 l_height50 f_400 t_color mb-0 mt-fix">Önce deneyin, sonra kullandığınız kadar ödeyin.</h4>
            </div>
            <div class="col-lg-5 pt_25">
                <a href="#" class="modal-toggle slider_btn_tr wow fadeInLeft mr_10 " 
                   data-openpopup="signuplogin" data-popup="call" data-wow-delay="0.8s"> <i class="ti ti-headphone-alt top-ico-fix"></i> Sizi Arayalım</a>
                <a href="http://pos.adisyo.com/login/?t=1" target="_blank" class="slider_btn white_btn wow fadeInLeft" data-wow-delay="0.8s">Ücretsiz Dene</a>
            </div>
        </div>
    </div>
</section>