---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <div class="row service_details mb_50">
            <div class="col-lg-9 col-sm-9 d-flex align-items-center">
                <div class="service_details wow fadeInUp">

                    <h4 class="f_600 f_size_24 f_p t_color"><b>Türkiye İş Bankası Kampanyası</b></h4>
                    <p class="f_600">01/01/2020 - 31/12/2020 tarihleri arasında geçerlidir.</p>
                    <p class="f_600">Türkiye İş Bankası Ticari Kredi Kartı ve/veya POS sahibi müşterilerimize özel,
                        cafe/restoran operasyonlarını herhangi bir cihaz üzerinden online olarak yönetebilecekleri,
                        bulut tabanlı Adisyo üyelikleri 3 ay süresince ücretsiz!</p>
                        <ul class="list-unstyled mb-30">

                        <li>
                            <i class="ti-check"></i> Adisyo'ya yeni üye olan ve 15 günlük deneme süresince Adisyo kullanan kullanıcılarımızın ilk ödemeleri sonrasında +3 ay hediye kullanım hakkı tanımlanacaktır.
                        </li>

                        <li>
                            <i class="ti-check"></i> Adisyo üyesi olan kullanıcılarımızın en az 6 aylık paket alımlarında +3 ay hediye kullanım hakkı tanımlanacaktır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanyadan faydalanılabilmesi için müşterilerimizin POS veya İş Bankası Ticari Kredi Kartı sahibi olduğunu Adisyo üyeliği esnasında beyan etmesi gerekmektedir.
                        </li>

                        <li>
                            <i class="ti-check"></i> Kampanya kapsamındaki ayrıcalığın tanınması Adisyo’nun sorumluluğundadır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo ve İş Bankası dilediği zaman kampanya şartlarında değişiklik yapma ve kampanyayı sona erdirme hakkına sahiptir.
                        </li>
                        <li>

                            <i class="ti-check"></i> Başvuru formunu eksiksiz doldurup başvuru yapmanız durumunda, başvurunuz incelenip en kısa sürede siz değerli kullanıcılarımıza olumlu/olumsuz geri dönüş sağlanacaktır.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 d-flex align-items-center">
                <div class="service_details wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/is-bank02.png" alt="">
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 text-center mt_30">
                <div> 
                    <a id="isBankButon2" class="slider_btn white_btn modal-toggle" data-openpopup="signuplogin" data-popup="isbank" href="#" class="slider_btn white_btn">Hemen Başvuru Yap</a>
                </div>
            </div>
        </div>
    </div>
</section>