---
layout: wrapper
---

<!--PAGE CONTENT-->


<!--Page Content-->

<section class="saas_service_area bg-yellow m-t_90">
    <div class="container">
    <div class="col-lg-12 col-sm-12 d-flex align-items-center">
        <div class="saas_service_img wow fadeInDown">
            <img src="/assets/img/home/campains/campains3.png" alt="">
        </div>
    </div>
</div>
</section>
<section class="saas_service_area sec_pad">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 d-flex align-items-center">   
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Afanda GL-1521 POS Bilgisayar</b></h4>
                    <p class="f_p f_400">
                        Şık ve uygun fiyatlı Afanda GL-1521 sayesinde, 
                        müşterilerinize kaliteli hizmet sunun ve işletmenize değer katın. 
                        Bu sistem anında çalıştırılmaya hazırdır.
                        19" inç multi touch dokunmatik ekran, Intel i3 işlemci, 
                        4 Gb Bellek ve 64 Gb SSD ile fark yaratır.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/campains/products2.png" alt="">
                </div>
            </div>
        </div>

            
        <div class="row wrap-reserve">
            <div class="col-sm-6 col-sm-push-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/campains/products1.png" alt="">
                </div>
            </div>

            <div class="col-sm-6 col-sm-pull-6 d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Afanda JP-80 Termal Fiş Yazıcı</b></h4>
                    <p class="f_p f_400">
                        Saniyede 250 mm hız ve 180 dpi ile yüksek kalite, 
                        kompakt ve ergonomik tasarıma sahip AFANDA JP-80, ethernet ve ya usb portlarından herhangi biri ile bağlantı sağlar, 
                        80mm. yazdırma genişliğine sahiptir. Küçük ve orta ölçekli işletmeler için idealdir.
                    </p>
                </div>
            </div>
         
        </div>


        <div class="row">
            
             <div class="col-sm-6 col-sm-push-6 d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Samsung Galaxy Tab A Tablet T290 8"</b></h4>
                    <p class="f_p f_400">
                       Tek elle kolayca taşınabilen ince ve kompakt tasarım ile performansın ideal bir karışımı olan Galaxy Tab A 8.0" ile beklediğinizden daha fazlasını sunan pratik bir yol arkadaşına kavuşun.
                       Galaxy Tab A; 2GB RAM, 32GB depolama alanı ve en son Android 9+ işletim sistemine sahip. Özel bir SD kartı yuvası da tüm anılarınızı tek bir cihazda saklayabilmeniz için 512GB’a kadar depolama alanı sağlıyor.
                    </p>
                </div>
            </div>

                <div class="col-sm-6 col-sm-pull-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/campains/products4.png" alt="">
                </div>
            </div>

            
            </div>
         
        
            <div class="row wrap-reserve">
            <div class="col-lg-6 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/campains/products3.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 d-flex align-items-center">   
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Caller ID CID 602 Cihazı</b></h4>
                    <p class="f_p f_400">
                        Adisyo, ekranınızda işletmenizi arayan numaraların görünmesi, kolayca kayıt edilmesi ve hızlıca sipariş alınmasını sağlayan sistemdir.
                        Sipariş yönetiminizi verimli hale getirmek için Caller ID CID 602 ile tanışın.
                    </p>
                </div>
            </div>

        </div>

       
    </div>
</section>