---
layout: wrapper
---

<!--PAGE CONTENT-->


<!--Page Content-->
<section class="saas_service_area sec_pad covid-pad m-t_90">
    <div class="container">

        <div class="row saas_service_item mb_50">
            <div class="col-lg-2 col-md-2 col-sm-2 align-items-center">
                <div>
                    <img class="max-w-30" src="/assets/img/home/covid19.png" alt="">
                </div>
            </div>
            <div class="col-lg-10 col-sm-10 col-md-2 d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Değerli Müşterimiz;</b></h4>
                    <p class="f_p f_400 f-covid">
                            Tüm dünyayı saran COVID-19 salgını dolayısı ile alınan tedbirler maalesef hem sizlerin hem de bizlerin işlerini olumsuz şekilde etkiledi. <br><br>
                            Bu süreci yardımlaşma ve dayanışma içerisinde geçirebilmek adına, <b class="color-red">16.03.2020</b> itibariyle kapalı olan işletmelerimiz için kullanmadıkları 
                            bu süreleri aboneliklerinin sonuna ekleyeceğiz.<br><br>

                            İleriye dönük maliyetlerinizde fayda sağlamak için ise <b class="color-red">30 Nisan 2020</b> tarihine kadar alacağınız yıllık pakete
                            <b class="color-red">+1 yıl, 6 aylık pakete +6 ay</b> ek süreyi <b class="color-red">ÜCRETSİZ</b> tanımlıyor olacağız.<br><br>
                            Bu zor zamanları en kısa sürede atlatmak ümidiyle, sağlıklı günler dileriz.<br><br>
                            
                            Saygılarımızla 
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>