---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <div class="row saas_service_item mb_50">
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Yemek Sepeti Entegrasyonu</b></h4>
                    <p class="f_p f_400">Adisyo, Yemek Sepeti ile tam entegrasyon içerisindedir. Yemek Sepeti üzerinden
                        gelen tüm siparişlerinizi, Adisyo içinde yer alan paket sipariş ekranından takip edebilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/yemeksepeti.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">

                    <h4 class="f_600 f_size_24 f_p t_color">Ingenico Yazar Kasa Pos Entegrasyonu</h4>
                    <p class="f_p f_400">Ingenico Yazar Kasa entegrasyonu ile Adisyo üzerinden yazar kasa fişi
                        kesebilirsininiz.</p>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/ingenico.png" alt="">
                </div>
            </div>
        </div>

        <div class="row mb_50">
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Bizim Hesap Entegrasyonu</b></h4>
                    <p class="f_p f_400">Adisyo üzerinden yaptığınız tüm sipariş işlemleriniz, anlık olarak Bizim Hesap
                        hesabınıza aktarılır.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/bizimhesap.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">

                    <h4 class="f_600 f_size_24 f_p t_color">Hotelier 101</h4>
                    <p class="f_p f_400">Adisyo, bulut tabanlı hotel yazılımı Hotelier 101 ile tam entegrasyon
                        içindedir. Odaya charge ve adisyon aktarımınız anında yansıtılır.</p>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/hotelier101.png" alt="">
                </div>
            </div>
        </div>

        <div class="row mb_50">
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">

                    <h4 class="f_600 f_size_24 f_p t_color">Sedna Hotel Entegrasyonu</h4>
                    <p class="f_p f_400">Akdeniz bölgesinde yaygın olarak kullanılan hotel yazılımı Sedna, Adisyo ile
                        entegrasyon içindedir. Restorant üzerinden verilen siparişleriniz hesabınıza anında yansıtılır.
                    </p>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/sedna.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>HMS Hotel Entegrasyonu</b></h4>
                    <p class="f_p f_400">Adisyo, bulut tabanlı hotel yazılımı HMS ile entegrasyon içindedir. Restorant
                        üzerinden verilen siparişleriniz hesabınıza anında yansıtılır.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/hmshotel.png" alt="">
                </div>
            </div>
        </div>

        <div class="row mb_50">
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">

                    <h4 class="f_600 f_size_24 f_p t_color">Caller ID Entegrasyonu</h4>
                    <p class="f_p f_400">Adisyo, ekranınızda işletmenizi arayan numaraların görünmesi, kolayca kayıt
                        edilmesi ve hızlıca sipariş alınmasını sağlayan sistemdir. </p>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/callerid.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <h4 class="f_600 f_size_24 f_p t_color"><b>Getir Entegrasyonu</b></h4>
                    <p class="f_p f_400">Getir entegrasyonu "çok yakında" aktif hale gelecektir.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex align-items-center">
                <div class="saas_service_img wow fadeInDown mt-minus40">
                    <img src="/assets/img/home/entegrasyon/getir.png" alt="">
                </div>
            </div>


        </div>

    </div>
</section>