---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<section class="pricing_area bg_color sec_pad">
    <div class="container custom_container">
        <div class="sec_title text-center mb_40">
            <h2 class="f_p f_size_34 l_height30 f_600 t_color2">Devir Ekonomi Devri</h2>
            <p class="f_400 f_size_16 l_height30">Dilediğiniz kadar kullanıcı ekleyin. Ekstra bir ücret ödemeyin.
                <b>Fiyatlarımıza KDV dahildir.</b></p>
        </div>
        
        <div class="tab-content price_content" id="myTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <!--monthly price-->
                <div class="row">
                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item select-price">
                            <div class="tag"><span>Popüler</span></div>
                            <img src="/assets/img/home/price/price-4.png" alt="">
                            <h5 class="f_p f_size_26 f_400 t_color2 mt_10 mb_10">12 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">59,00 ₺<sub
                                    class="f_size_16 f_400">/ Ay</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 20 İndirimli</p>
                                <p>Toplam : 719,00 ₺</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="#" class="modal-toggle price_btn btn_hover" data-openpopup="signuplogin"
                                data-popup="login">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahildir</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-3.png" alt="">
                            <h5 class="f_p f_size_26 f_400 t_color2 mt_10 mb_10">6 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">66,00 ₺<sub
                                    class="f_size_16 f_400">/ Ay</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 10 İndirimli</p>
                                <p>Toplam : 399,00 ₺</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/login/?t=1" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahildir</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-2.png" alt="">
                            <h5 class="f_p f_size_26 f_400 t_color2 mt_10 mb_10">3 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">69,00 ₺<sub
                                    class="f_size_16 f_400">/ Ay</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 5 İndirimli</p>
                                <p>Toplam : 209,00 ₺</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/login/?t=1" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahildir</p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-1.png" alt="">
                            <h5 class="f_p f_size_26 f_400 t_color2 mt_10 mb_10">1 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">74,00 ₺<sub
                                    class="f_size_16 f_400">/ Ay</sub></div>
                            <div class="border-price">
                                <p class="price-discount">15 Gün Ücretsiz</p>
                                <p>Denemesi Bedava</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/login/?t=1" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahildir</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>