---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<section class="blog_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>Sürüm Notları</h2>
                <div class="release-notes-wrapper">
                    {% assign sorted_release_notes = site.release-notes | sort: 'date' | reverse %}
                    {% for note in sorted_release_notes %}
                    <div class="release-note">
                        <span class="version">{{ note.version }}</span>
                        <a href="{{ note.url }}">
                            <span class="title f_p f_size_16 f_500 t_color">{{ note.title }}</h5>     
                        </a>
                        <span class="date">{{ note.date | date: "%d-%m-%Y" }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<!--PAGE CONTENT-->