---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}



<section class="sec_pad bg_color_white ">
    <div class="container mb_40">
        <div class="text-center">
            <h1 class="f_p f_700 f_size_24 height50 mb_40">Adisyo ile ilgili destek almak isterseniz, bizimle iletişime geçmeniz yeterlidir</h1>
        </div>

                <div class="row software_featured_info">
                    <div class="col-lg-6 col-sm-6">
                        <div class="software_featured_item text-center border-support mb_20_mobile">
                            <div class="s_icon">
                                <img src="../assets/img/home/support/support6.png" alt="">
                                
                            </div>
                            <h3 class="f_600 t_color3">Uzaktan Destek</h3>
                            <p class="f_400 f_size_15 mb-30">Adisyo kullanımı ile ilgili ihtiyaçlarınızda, bizimle iletişime geçin uzaktan bağlantı ile size <b>ücretsiz</b> destek verelim.</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="software_featured_item text-center border-support">
                            <div class="s_icon">
                                <img src="../assets/img/home/support/support3.png" alt="">
                            </div>
                            <h3 class="f_600 t_color3">Yüz Yüze Destek</h3>
                            <p class="f_400 f_size_15 mb-30">Yüz yüze desteğe ihtiyaç duyduğunuzda bizimle iletişime geçin, bir araya gelelim. <b>Yüz yüze destek hizmetimiz ücretlidir.</b></p>  
                        </div>
                    </div>
                    
                </div>       
    </div>
</section>

<section class="sec_pad">
    <div class="container mb_40">
        <div class="text-center">
            <h1 class="f_p f_700 f_size_24 height50 mb_40">Dilerseniz aşağıdaki kaynaklarımızdan ücretsiz faydalanabilirsiniz</h1>
        </div>

                <div class="row software_featured_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="software_featured_item text-center border-support mb_20_mobile">
                            <div class="s_icon">
                                <img src="../assets/img/home/support/support7.png" alt="">
                            </div>
                            <h3 class="f_600 t_color3">Kullanım Videoları</h3>
                            <p class="f_400 f_size_15 mb-30">Adisyo kısa kullanım videolarımızı izleyerek kolayca öğrenin ve hemen uygulayın.</p>
                            <a href="https://www.youtube.com/channel/UCKdnA5lA-tBGbBjBPWoy-Lw/videos" target="_blank" class="slider_btn_tr">Videoları İzleyin</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="software_featured_item text-center border-support mb_20_mobile">
                            <div class="s_icon">
                                <img src="../assets/img/home/support/support1.png" alt="">
                                
                            </div>
                            <h3 class="f_600 t_color3">Kullanım Kılavuzu</h3>
                            <p class="f_400 f_size_15 mb-30">Adisyo'yu eğitim gerektirmeden kolayca kullanmanıza olanak sağlacak kullanım kılavuzumuz sizleri bekliyor.</p>
                            <a href="https://destek.adisyo.com/portal/kb/adisyo/kullan%C4%B1m-klavuzu" target="_blank" class="slider_btn_tr">Kılavuzu İnceleyin</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="software_featured_item text-center border-support">
                            <div class="s_icon">
                                <img src="../assets/img/home/support/support2.png" alt="">
                            </div>
                            <h3 class="f_600 t_color3">Sık Sorulan Sorular</h3>
                            <p class="f_400 f_size_15 mb-30">Adisyo kullanıcılarının sıkça sorduğu sorulara ait cevaplarımızı burada bulabilirsiniz.</p>
                            <a href="https://destek.adisyo.com/portal/kb/adisyo/s%C4%B1k-sorulan-sorular" target="_blank" class="slider_btn_tr">Sorulara Göz Atın</a>
                        </div>
                    </div>
                   
                </div>       
    </div>
</section>



